<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>控制器的属性和方法</title>
    <style type="text/css">
        body {
            font-size: 12px;
        }
        .show {
            background-color: #ccc;
            padding: 8px;
            width: 260px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div ng-controller="ctrl">
        <button ng-click="changeA()">李四</button>
        <button ng-click="changeB()">王二</button>
        <p class="show">我的名字叫：{{name}}</p>
    </div>

    <script type="text/javascript" src="../../../JS/angular.min.js"></script>
    <script type="text/javascript">

        angular.module('app', []).controller('ctrl', ['$scope', function($scope) {
            $scope.name = '张三';
            $scope.changeA = function() {
                $scope.name = '李四';
            };
            $scope.changeB = function() {
                $scope.name = '王二';
            }
        }]);

    </script>
</body>
</html>