<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>$window窗口对象在表达式中使用</title>
</head>
<body>
    <div ng-controller="ctrl">
        <input type="text" ng-model="text"/>
        <button ng-click="show()">显示</button>
    </div>
<script type="text/javascript" src="../../../JS/angular.min.js"></script>
<script type="text/javascript">
    // 此处注入了一个$window对象，$window对象可以使用window的各种方法或属性
    angular.module('app', []).controller('ctrl', ['$scope', '$window', function($scope, $window) {
        $scope.text = '';
        $scope.show = function() {
            $window.alert("您输入的内容是：" + $scope.text);
        }
    }]);

</script>
</body>
</html>